/* Header */
header {
    position: sticky;
    z-index: 999;
    top: 0;
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(10px);
}

.btn {
    margin-top: 110px;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
}

.navbar ul li{
    color: wheat;
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
}

.logo {
    margin-left: 30px;
    width: 70px;
    height: 70px;
}

a {
    text-decoration: none;
    color: wheat;
}

.headbtn {
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid wheat;
    background-color: transparent;
    color: wheat;
    font-size: 15px;
    font-weight: bold;
}

.headbtn:hover {

    background-color: wheat;
    color: #98694d;
}

.pro_btn:hover {
    color: #201300;
}

.dropbtn {
    background-color: transparent;
    color: wheat;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(52, 52, 52, 0.5);
    backdrop-filter: blur(10px);
    border: 2px solid wheat;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #f5deb3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #4d0287;
    border-radius: 10px;
}

  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {}  */
