.img-holder {
    max-width: 300px;
    max-width: 300px;
}

.product_img {
    width: 300px;
    height: 300px;
}

.product_info {
    background-color: transparent;
    color: wheat;
    border: 2px solid #f5deb3;
}

button {
    padding: 5px;
    border-radius: 15px;
}